<h3>Resultados para: </h3>

<div class="card-columns animated fadeIn fast">
  
  <div class="card text-center" *ngFor="let heroe of heroesBusqueda" >
    <img class="card-img-top" [src]="heroe.img" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ heroe.nombre }}</h5>
      <p class="card-text">{{ heroe.bio}}</p>
      <small class="text-muted">{{ heroe.aparicion}}</small>
    </div>
    <div class="card-footer">
      <button (click)="regresar()" class="btn btn-primary btn-block">Regresar</button>
  
    </div>
  </div>
</div>  