<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="./assets/img/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    BootHeroes
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="[ '/inicio' ]">Inicio</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="[ '/heroes' ]">Heroes</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input 
       (keyup)="searchHeroe(txt_busqueda.value)"
        class="form-control form-control-sm" #txt_busqueda name="txt_busqueda" type="text">
      <button 
        (click)="searchHeroe(txt_busqueda.value)"
        class="btn btn-outline-primary btn-sm" type="button">Buscar</button>
    </form>
  </div>
</nav>